@model WebSiteHocTiengNhat.Models.WritingQuestion
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Create Writing question";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Level"></label>
        <select asp-for="Level" asp-items="ViewBag.Level" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="QuestionContent"></label>
        <textarea asp-for="QuestionContent" class="form-control" value="Empty">Question</textarea>
        <span asp-validation-for="QuestionContent" class="text-danger"></span>
    </div>
    <!-- Textbox for Link -->
    <div class="form-group">
        <label asp-for="Link" as for="imgFile">Upload img/Image</label>
        <input asp-for="Link" type="file" name="imgFile" id="imgFile" class="form-control" accept="img/*" />
    </div>
    <div class="form-group">
        <label asp-for="Answer">Answer</label>
        <input asp-for="Answer" class="form-control" value="" />
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
